.App {
  text-align: center;
  min-height: 100vh;
  background: #ccc;
  padding: 20px;
}

.App-header {
  margin-bottom: 20px;
}

.App-header h1 {
  color: #333;
  margin: 0;
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

